<div class="wrapper">
    <div *ngIf="isCustomer">
        <app-customer-header></app-customer-header>
    </div>
    <div *ngIf="isAdmin">
        <app-admin-header></app-admin-header>
    </div>
    <div *ngIf="isAgent">
        <app-agent-header></app-agent-header>
    </div>
    <div *ngIf="isEmployee">
        <app-employee-header></app-employee-header>
    </div>
    <div class="container">
        <h2>Change Password</h2>
        <form class="row g-2" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
            <!-- <div class="col-md-12">
                <div class="input-container">
                    <input type="text" formControlName="userName" placeholder="USER NAME*" />
                    <small
                        *ngIf="
                            changePasswordForm.get('userName')?.dirty &&
                            changePasswordForm.get('userName')?.hasError('required')
                        "
                        class="text-danger error"
                        >*User Name is required.</small
                    >
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="input-container">
                    <input
                        type="{{ hideOldPassword ? 'password' : 'text' }}"
                        formControlName="oldPassword"
                        placeholder="OLD PASSWORD*"
                    />
                    <i
                        class="toggle-password fas"
                        [ngClass]="hideOldPassword ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="togglePasswordVisibility('old')"
                    ></i>
                </div>
                <small
                    *ngIf="
                        changePasswordForm.get('oldPassword')?.dirty &&
                        changePasswordForm.get('oldPassword')?.hasError('required')
                    "
                    class="text-danger error"
                    >*Old Password is required.</small
                >
            </div>
            <div class="col-md-12">
                <div class="input-container">
                    <input
                        type="{{ hideNewPassword ? 'password' : 'text' }}"
                        formControlName="newPassword"
                        placeholder="NEW PASSWORD*"
                    />
                    <i
                        class="toggle-password fas"
                        [ngClass]="hideNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="togglePasswordVisibility('new')"
                    ></i>
                </div>
                <small
                    *ngIf="
                        changePasswordForm.get('newPassword')?.dirty &&
                        changePasswordForm.get('newPassword')?.hasError('required')
                    "
                    class="text-danger"
                    >*New Password is required.</small
                >
                <small
                    *ngIf="
                        changePasswordForm.get('newPassword')?.dirty &&
                        changePasswordForm.get('newPassword')?.hasError('pattern')
                    "
                    class="text-danger"
                    >*New Password must contain at least one uppercase letter, one number, and one special character.</small
                >
            </div>
            <div class="col-md-12">
                <div class="input-container">
                    <input
                        type="{{ hideConfirmPassword ? 'password' : 'text' }}"
                        formControlName="confirmPassword"
                        placeholder="CONFIRM PASSWORD*"
                    />
                    <i
                        class="toggle-password fas"
                        [ngClass]="hideConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="togglePasswordVisibility('confirm')"
                    ></i>
                </div>
                <small
                    *ngIf="
                        changePasswordForm.get('confirmPassword')?.dirty &&
                        changePasswordForm.get('confirmPassword')?.hasError('required')
                    "
                    class="text-danger"
                    >*Confirm Password is required.</small
                >
                <small
                    *ngIf="changePasswordForm.hasError('mismatch')"
                    class="text-danger"
                    >*Passwords do not match.</small
                >
            </div>
            <div class="col-12">
                <button type="submit" class="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>
<app-footer-end></app-footer-end>
