<div class="wrapper">
    <div *ngIf="isCustomer">
        <app-customer-header></app-customer-header>
    </div>
    <div *ngIf="isAdmin">
        <app-admin-header></app-admin-header>
    </div>
    <!-- <div *ngIf="isAgent">
      <app-agent-header></app-agent-header>
    </div>
    <div *ngIf="isEmployee">
      <app-employee-header></app-employee-header>
    </div> -->
    <div class="container">
        <h2>Change Password</h2>
        <form class="row g-2" [formGroup]="changePasswordForm">
            <div class="col-md-12">
                <input type="text" formControlName="userName" placeholder="USER NAME*" />
                <small 
                    *ngIf="
                        changePasswordForm.get('userName')?.dirty &&
                        changePasswordForm.get('userName')?.hasError('required')
                    "
                    class="text-danger error"
                >*User Name is required.</small>
            </div>
            <div class="col-md-12">
                <input
                    type="password"
                    formControlName="oldPassword"
                    placeholder="OLD PASSWORD*"
                /><i
              class="toggle-password"
              [ngClass]="hidePassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
              (click)="togglePasswordVisibility()"
  ></i>
                <small 
                    *ngIf="
                        changePasswordForm.get('password')?.dirty &&
                        changePasswordForm.get('password')?.hasError('required')
                    "
                    class="text-danger error"
                >*Password is required.</small>
            </div>
            <div class="col-md-12">
                <input
                    type="password"
                    formControlName="newPassword"
                    placeholder="NEW PASSWORD*"
                /><i
                class="toggle-password"
                [ngClass]="hidePassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                (click)="togglePasswordVisibility()"
    ></i>
                <small 
                    *ngIf="
                        changePasswordForm.get('newPassword')?.dirty &&
                        changePasswordForm.get('newPassword')?.hasError('required')
                    "
                    class="text-danger"
                >*New Password is required.</small>
                <small
                    *ngIf="
                        changePasswordForm.get('newPassword')?.dirty &&
                        changePasswordForm.get('newPassword')?.hasError('passwordValidator')
                    "
                    class="text-danger"
                    [innerHTML]="
                        changePasswordForm.get('newPassword')?.getError('passwordValidator')
                            .message
                    "
                ></small>
            </div>
            <div class="col-12">
                <button type="submit" class="submit" (click)="updatePassword()">Change Password</button>
            </div>
        </form>
    </div>
</div>
<app-footer-end></app-footer-end>
