.wrapper {
    background-color: #f3faf4;
    min-height: 93vh;
}

.container {
    background-color: rgba(252, 252, 252, 0.4);
    padding: 20px;
    margin-top: 4%;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Center align Customers text */
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .col-md-12 {
    width: 100%; /* Ensure input fields take full container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

form .col-md-12 input {
    width: 90%; /* Adjust input width to fit within the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .col-12 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form .submit {
    background-color: #00d1b2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .submit:hover {
    background-color: #03d6b7;
}
.input-container {
    position: relative;
    width: 100%;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px; /* Space for the eye icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}
