<!-- Modal -->
<div class="wrapper">
    <!-- <app-employee-header></app-employee-header> -->
    <div class="top_link">
      <button (click)="goBack()" class="btn-back ms-3 mt-2" >Back</button>
    </div>
    <div class="container" id="addAgent">
  
  
      <h2 class="heading" id="Label">
        Register Agent
      </h2>  
      <form [formGroup]="addAgentForm">
        <div class="mb-3">
          <input type="text" formControlName="agentFirstName" placeholder=" FIRST NAME*" />
          <small *ngIf="
                addAgentForm.get('agentFirstName')?.dirty &&
                addAgentForm.get('agentFirstName')?.hasError('required')
                " class="text-danger">*First Name is required.</small>
          <small *ngIf="
              addAgentForm.get('agentFirstName')?.dirty &&
              addAgentForm.get('agentFirstName')?.hasError('minlength')
              " class="text-danger">*minimum 3 characters are required.</small>
          <small *ngIf="
              addAgentForm.get('agentFirstName')?.dirty &&
              addAgentForm
                  .get('agentFirstName')
                  ?.hasError('onlyCharacters')
              " class="text-danger">
            *{{
            addAgentForm
            .get("agentFirstName")
            ?.getError("onlyCharacters").message
            }}</small>
        </div>
        <div class="mb-3">
          <input type="text" formControlName="agentLastName" placeholder=" LAST NAME*" />
          <small *ngIf="
                addAgentForm.get('agentLastName')?.dirty &&
                addAgentForm.get('agentLastName')?.hasError('required')
                " class="text-danger">*Last Name is required.</small>
          <small *ngIf="
              addAgentForm.get('agentLastName')?.dirty &&
              addAgentForm
                  .get('agentLastName')
                  ?.hasError('onlyCharacters')
              " class="text-danger">
            *{{
            addAgentForm
            .get("agentLastName")
            ?.getError("onlyCharacters").message
            }}</small>
        </div>
  
        <div class="mb-3">
          <input type="userName" formControlName="userName" placeholder="USERNAME*" />
          <small *ngIf="
                addAgentForm.get('userName')?.dirty &&
                addAgentForm.get('userName')?.hasError('required')
                " class="text-danger">*User Name is required.</small>
          <small *ngIf="
              addAgentForm.get('userName')?.dirty &&
              addAgentForm.get('userName')?.hasError('minlength')
              " class="text-danger">*minimum 6 characters are required.</small>
        </div>
        <div class="mb-3">
          <input type="password" formControlName="password" placeholder="PASSWORD*" />
          <small *ngIf="
                addAgentForm.get('password')?.dirty &&
                addAgentForm.get('password')?.hasError('required')
                " class="text-danger">*Password is required.</small>
          <small *ngIf="
              addAgentForm.get('password')?.dirty &&
              addAgentForm.get('password')?.hasError('passwordValidator')
              " class="text-danger" [innerHTML]=" addAgentForm.get('password')?.getError('passwordValidator')
                  .message
              "></small>
        </div>
        <div class="mb-3">
          <input type="string" formControlName="qualification" placeholder="Qualification*" />
          <small *ngIf="
                addAgentForm.get('qualification')?.dirty &&
                addAgentForm.get('qualification')?.hasError('required')
                " class="text-danger">*Qualification is required.</small>
        </div>
        <div class="mb-3">
          <input type="email" formControlName="email" aria-describedby="emailHelp" placeholder="EMAIL*" />
          <small *ngIf="
                addAgentForm.get('email')?.dirty &&
                addAgentForm.get('email')?.hasError('required')
                " class="text-danger">*Email is required.</small>
          <small *ngIf="
              addAgentForm.get('email')?.dirty &&
              addAgentForm.get('email')?.hasError('email')
              " class="text-danger">*Invalid format.</small>
        </div>
        <div class="mb-3">
          <input type="text" formControlName="phone" placeholder="MOBILE NUMBER*" />
          <small *ngIf="
                addAgentForm.get('phone')?.dirty &&
                addAgentForm.get('phone')?.hasError('required')
                " class="text-danger">*Mobile No. is required.</small>
          <small *ngIf="
                addAgentForm.get('phone')?.dirty &&
                addAgentForm.get('phone')?.hasError('pattern')
                " class="text-danger">*Invalid format</small>
        </div>
  
      </form>
  
      <div class="row buttons-row">
        <div class="col-md-6">
          <button type="button" class="btn btn-secondary btn-cancel" (click)="onCancel()">
            Cancel
          </button>
        </div>
        <div class="col-md-6">
          <button id="save" type="button" class="btn btn-info btn-register" (click)="addAgent()">
            Register
          </button>
        </div>
      </div>
      
    </div>
  </div>
  
  <app-footer-end></app-footer-end>