<div class="wrapper">
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-2">
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/customer/policies">
            <img
              src="../assets/Policy.png"
              class="card-img-top"
              alt="..."
            />
            <h5 class="card-title">Policies</h5></a
          >
          <p>Total: {{ totalPolicies}}</p>
        </div>
      </div>
 
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/customer/document"
            ><img src="../assets/Document.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Documents</h5></a
          >
          <p>Total: {{ totalDocuments }}</p>
        </div>
      </div>
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/customer/showAgents">
            <img src="../assets/Agent.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Agents</h5></a
          >
          <p>Total: {{ totalAgentCount }}</p>
        </div>
      </div>
      <div class="col">
        <div class="card m-2 text-center">
          <a href="customer/showComplaints"
            ><img src="../assets/Query.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Complaints</h5></a
          >
          <p>Total: {{ totalComplaints }}</p>
        </div>
      </div>
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/customer/profile">
            <img src="../assets/Profile.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Profile</h5></a
          >
          <p>Total: {{ totalClaimCount }}</p>
        </div>
      </div>
    </div>
  </div>