<div class="wrapper">
    <div class="mb-3">
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addEmployeeModal"
      >
        Add Employee
      </button>
    </div>
    <div class="mb-3 d-flex justify-content-between">
      <div>
        <label for="pageSizeSelect">Page Size:</label>
        <select id="pageSizeSelect" (change)="onPageSizeChange($event)">
          <option *ngFor="let size of [5, 10, 20, 50]" [value]="size" [selected]="size === pageSize">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
    <table class="table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Salary</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="employees.length > 0; else noDataTemplate">
        <tr *ngFor="let emp of employees">
          <td>{{ emp.employeeId }}</td>
          <td>{{ emp.firstName }}</td>
          <td>{{ emp.lastName }}</td>
          <td>{{ emp.phone }}</td>
          <td>{{ emp.salary }}</td>
          <td>
            <button class="btn btn-success me-2" (click)="updateEmployee(emp)">Update</button>
            <button class="btn btn-danger" (click)="deleteEmployee(emp.employeeId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noDataTemplate>
      <tr>
        <td colspan="6" class="text-center">No employees found.</td>
      </tr>
    </ng-template>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1"
        >
          <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  <app-footer-end></app-footer-end>