<div class="wrapper">
  <div class="top_link">
    <button (click)="goBack()" class="btn-back ms-3 mt-2">Back</button>
  </div>
  <div class="container">
    <form class="row g-2" [formGroup]="addComplaintForm">
      <div class="heading">
        <h2>Add Complaint</h2>
      </div>

      <!-- Query Type Dropdown -->
      <div class="col-md-12">
        <label for="queryType">Query Type</label>
        <select
          id="queryType"
          formControlName="queryType"
          class="form-control"
          (change)="onQueryTypeChange()"
        >
          <option *ngFor="let type of queryTypes" [value]="type">{{ type }}</option>
        </select>
        <small
          *ngIf="
            addComplaintForm.get('queryType')?.touched &&
            addComplaintForm.get('queryType')?.hasError('required')
          "
          class="text-danger error"
        >
          *Field is required.<br />
        </small>
      </div>

      <!-- Policy Dropdown (Visible if Query Type is Policy) -->
      <div class="col-md-12" *ngIf="addComplaintForm.get('queryType')?.value === 'Policy'">
        <label for="policyId">Select Policy</label>
        <select id="policyId" formControlName="policyId" class="form-control">
          <option *ngFor="let policy of policies" [value]="policy.policyId">
            {{ policy.insuranceSchemeName }}
          </option>
        </select>
      </div>

      <!-- Title Input -->
      <div class="col-md-12">
        <input
          type="text"
          formControlName="title"
          placeholder="TITLE"
        /><br />
        <small
          *ngIf="
            addComplaintForm.get('title')?.touched &&
            addComplaintForm.get('title')?.hasError('required')
          "
          class="text-danger error"
        >
          *Field is required.<br />
        </small>
        <small
          *ngIf="
            addComplaintForm.get('title')?.touched &&
            addComplaintForm.get('title')?.hasError('onlyCharacters')
          "
          class="text-danger error"
        >
          Only alphabetic characters are allowed.<br />
        </small>
      </div>

      <!-- Message Input -->
      <div class="col-md-12">
        <textarea
          formControlName="message"
          placeholder="DESCRIPTION"
          cols="40"
          rows="5"
        ></textarea><br />
        <small
          *ngIf="
            addComplaintForm.get('message')?.touched &&
            addComplaintForm.get('message')?.hasError('required')
          "
          class="text-danger error"
        >
          *Field is required.<br />
        </small>
      </div>

      <!-- Submit Button -->
      <div class="col-12">
        <button type="button" class="btn-info" (click)="addComplaint()">Submit</button>
      </div>
    </form>
  </div>
</div>
