.registration-form-container {
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00416a;
  }
  .btn-back {
    border-radius: 4px;
    border-color: #00d1b2;
}

.btn-back:hover {
    background-color: #00d1b2;
}
     
.btn-register:disabled {
  opacity: 70%;
  cursor: not-allowed;
}

  .form-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .required {
    color: red;
  }
  
  .glossy-input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .glossy-input:focus {
    border-color: #00416a;
    box-shadow: 0 0 5px rgba(0, 65, 106, 0.5);
    outline: none;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  .btn-register {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #00416a, #0083b0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .btn-register:hover {
    background: linear-gradient(to right, #0083b0, #00416a);
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .toggle-password i {
    color: #555;
  }
  
  .toggle-password:hover i {
    color: #00416a;
  }
  
  