/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    background-color: #edf6fc;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar width */
}

::-webkit-scrollbar-track {
  background: #edf6fc; /* Background color for the track */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background: #485563; /* Thumb color */
  border-radius: 10px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #005bb5; /* Slightly darker shade on hover */
}