/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    background-color: #edf6fc;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar width */
}

::-webkit-scrollbar-track {
  background: #edf6fc; /* Background color for the track */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background: #c3e4fc; /* Thumb color */
  border-radius: 10px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #005bb5; /* Slightly darker shade on hover */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-snackbar {
  background-color: #4caf50; /* Success color */
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

.error-snackbar {
  background-color: #f44336; /* Error color */
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}
