body {
    margin: 0; /* Remove default margin */
    background-color: white; /* Global background color */
  }
  
  .customer-dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
    background-color: white; /* Background for admin dashboard */
  }
  
  .dashboard-content {
    flex: 1; /* Push the footer to the bottom */
  }
 