
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-2">
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/agent/customerRegistration">
            <img
              src="../assets/Register.png"
              class="card-img-top"
              alt="..."
            />
            <h5 class="card-title">Register Customer</h5></a
          >
          <p>&nbsp;</p>
        </div>
      </div>
 
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/agent/customers"
            ><img src="../assets/Customer.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Customers</h5></a
          >
          <p>Total: {{ totalCustomerCount }}</p>
        </div>
      </div>
 
      <div class="col">
        <div class="card m-2 text-center">
          <a href="agent/viewPlan"
            ><img src="../assets/Insurance Plans.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Insurance Plans</h5></a
          >
          <p>Total: {{ totalPlanCount }}</p>
        </div>
      </div>
 
      <div class="col">
        <div class="card m-2 text-center">
          <a href="agent/policies"
            ><img src="../assets/Policy.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Policy</h5></a
          >
          <p>Total: {{ totalPolicyCount }}</p>
        </div>
      </div>
     
      <div class="col">
        <div class="card m-2 text-center">
          <a href="agent/commissions">
            <img src="../assets/Commission.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Commissions</h5></a
          >
          <p>Total: {{ totalCommissionCount }}</p>
        </div>
      </div>
     
      <div class="col">
        <div class="card m-2 text-center">
          <a href="/admin/complaints"
            ><img src="../assets/Profile.png" class="card-img-top" alt="..." />
            <h5 class="card-title">Profile</h5></a
          >
          <p>&nbsp;</p>
        </div>
      </div>
   
    </div>
  </div>