<div class="wrapper">
    <div class="top_link">
        <button (click)="goBack()" class="btn-back ms-3 mt-2">
            Back
        </button>
    </div>
    <div class="container">
        <h2 class="heading">
            Register Insurance Scheme for <span class="text-highlight">{{ planName }}</span>
        </h2>
        <form [formGroup]="addSchemeForm" class="form-container">
            <table class="table-layout">
                <tr>
                    <td>
                        <label for="schemeName" class="form-label">Scheme Name *</label>
                    </td>
                    <td>
                        <input type="text" id="schemeName" formControlName="schemeName" class="form-control"
                            placeholder="Enter Scheme Name" />
                        <small
                            *ngIf="addSchemeForm.get('schemeName')?.touched && addSchemeForm.get('schemeName')?.invalid"
                            class="error-text">Scheme Name is required.</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="schemeImage" class="form-label">Scheme Image *</label>
                    </td>
                    <td>
                        <div class="upload-group">
                            <input 
                                type="file" 
                                id="schemeImage" 
                                (change)="onImageSelect($event)" 
                                class="form-control" 
                                (blur)="imageTouched = true" 
                            />
                            <button 
                                type="button" 
                                class="btn btn-primary" 
                                [disabled]="!selectedFile || isUploading" 
                                (click)="uploadImage()"
                            >
                                Upload
                            </button>
                        </div>
                        <div *ngIf="isUploading" class="mt-2">
                            <span class="loader"></span> Uploading...
                        </div>
                        <div *ngIf="schemeImageUrl && !isUploading" class="mt-2">
                            <button class="btn btn-link" (click)="openModal(schemeImageUrl)">View Uploaded Image</button>
                        </div>
                        <small 
                            *ngIf="imageTouched && !schemeImageUrl" 
                            class="error-text"
                        >
                            Please upload a scheme image.
                        </small>
                    </td>
                </tr>
                           
               <tr>
                    <td>
                        <label for="description" class="form-label">Description *</label>
                    </td>
                    <td>
                        <textarea id="description" formControlName="description" class="form-control"
                            placeholder="Enter Description"></textarea>
                        <small
                            *ngIf="addSchemeForm.get('description')?.touched && addSchemeForm.get('description')?.invalid"
                            class="error-text">Description is required.</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="minAmount" class="form-label">Min Investment *</label>
                    </td>
                    <td>
                        <input type="number" id="minAmount" formControlName="minAmount" class="form-control"
                            placeholder="Enter Minimum Amount" />
                        <small
                            *ngIf="addSchemeForm.get('minAmount')?.touched && addSchemeForm.get('minAmount')?.invalid"
                            class="error-text">Minimum amount must be greater than 500.</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="maxAmount" class="form-label">Max Investment *</label>
                    </td>
                    <td>
                        <input type="number" id="maxAmount" formControlName="maxAmount" class="form-control"
                            placeholder="Enter Maximum Amount" />
                        <small
                            *ngIf="addSchemeForm.get('maxAmount')?.touched && addSchemeForm.get('maxAmount')?.invalid"
                            class="error-text">Maximum amount must be greater than 1000.</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="profitRatio" class="form-label">Profit % *</label>
                    </td>
                    <td>
                        <input type="number" id="profitRatio" formControlName="profitRatio" class="form-control"
                            placeholder="Enter Profit Ratio" />
                        <small
                            *ngIf="addSchemeForm.get('profitRatio')?.touched && addSchemeForm.get('profitRatio')?.invalid"
                            class="error-text">Profit ratio must be between 0% and 25%.</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="minInvestTime" class="form-label">Min Investment Time (Months) *</label>
                    </td>
                    <td>
                        <input type="number" id="minInvestTime" formControlName="minInvestTime" class="form-control"
                            placeholder="Enter Minimum Investment Time" />
                        <small
                            *ngIf="addSchemeForm.get('minInvestTime')?.touched && addSchemeForm.get('minInvestTime')?.invalid"
                            class="error-text">
                            Minimum investment time must be at least 1 month.
                        </small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="maxInvestTime" class="form-label">Max Investment Time (Months) *</label>
                    </td>
                    <td>
                        <input type="number" id="maxInvestTime" formControlName="maxInvestTime" class="form-control"
                            placeholder="Enter Maximum Investment Time" />
                        <small
                            *ngIf="addSchemeForm.get('maxInvestTime')?.touched && addSchemeForm.get('maxInvestTime')?.invalid"
                            class="error-text">
                            Maximum investment time is required.
                        </small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="minAge" class="form-label">Min Age *</label>
                    </td>
                    <td>
                        <input type="number" id="minAge" formControlName="minAge" class="form-control"
                            placeholder="Enter Minimum Age" />
                        <small *ngIf="addSchemeForm.get('minAge')?.touched && addSchemeForm.get('minAge')?.invalid"
                            class="error-text">
                            Minimum age must be greater than 18.
                        </small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="maxAge" class="form-label">Max Age *</label>
                    </td>
                    <td>
                        <input type="number" id="maxAge" formControlName="maxAge" class="form-control"
                            placeholder="Enter Maximum Age" />
                        <small *ngIf="addSchemeForm.get('maxAge')?.touched && addSchemeForm.get('maxAge')?.invalid"
                            class="error-text">
                            Maximum age must be greater than the minimum age and less than 70.
                        </small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="registrationCommRatio" class="form-label">Registration Commission Ratio (%)
                            *</label>
                    </td>
                    <td>
                        <input type="number" id="registrationCommRatio" formControlName="registrationCommRatio"
                            class="form-control" placeholder="Enter Registration Commission Ratio" />
                        <small
                            *ngIf="addSchemeForm.get('registrationCommRatio')?.touched && addSchemeForm.get('registrationCommRatio')?.invalid"
                            class="error-text">
                            Registration commission ratio must be between 0% and 20%.
                        </small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="installmentCommRatio" class="form-label">Installment Commission Ratio (%) *</label>
                    </td>
                    <td>
                        <input type="number" id="installmentCommRatio" formControlName="installmentCommRatio"
                            class="form-control" placeholder="Enter Installment Commission Ratio" />
                        <small
                            *ngIf="addSchemeForm.get('installmentCommRatio')?.touched && addSchemeForm.get('installmentCommRatio')?.invalid"
                            class="error-text">
                            Installment commission ratio must be between 0% and 7.5%.
                        </small>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="claimDeductionPercentage" class="form-label">Claim Deduction % *</label>
                    </td>
                    <td>
                        <input type="number" id="claimDeductionPercentage" formControlName="claimDeductionPercentage"
                            class="form-control" placeholder="Enter Claim Deduction Percentage" />
                        <small
                            *ngIf="addSchemeForm.get('claimDeductionPercentage')?.touched && addSchemeForm.get('claimDeductionPercentage')?.invalid"
                            class="error-text">Claim deduction percentage must be between 0% and 15%.</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="penaltyDeductionPercentage" class="form-label">Penalty Deduction % *</label>
                    </td>
                    <td>
                        <input type="number" id="penaltyDeductionPercentage"
                            formControlName="penaltyDeductionPercentage" class="form-control"
                            placeholder="Enter Penalty Deduction Percentage" />
                        <small
                            *ngIf="addSchemeForm.get('penaltyDeductionPercentage')?.touched && addSchemeForm.get('penaltyDeductionPercentage')?.invalid"
                            class="error-text">Penalty deduction percentage must be between 0% and 20%.</small>
                    </td>
                </tr>                
                <tr>
                    <td>
                        <label class="form-label">Required Documents *</label>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false" (blur)="documentsTouched = true">
                                Select Documents
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li *ngFor="let document of documentTypes">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input custom-checkbox"
                                            [id]="'checkbox' + document.id" [value]="document.id"
                                            (change)="toggleDocumentSelection(document.id)" />
                                        <label class="form-check-label" [for]="'checkbox' + document.id">{{
                                            document.name }}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <small *ngIf="documentsTouched && selectedDocuments.length === 0" class="error-text">At least
                            one document must be selected.</small>
                    </td>
                </tr>

            </table>
            <div class="button-group">
                <button type="button" class="btn btn-secondary" (click)="OnCancel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="addScheme()">Register</button>
            </div>
        </form>
    </div>
</div>

 <!-- Modal for image preview -->
 <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
        <img [src]="modalImageURL" alt="Document Preview" class="img-fluid" />
        <button class="btn btn-secondary mt-3" (click)="closeModal()">Close</button>
    </div>
</div>